body{
    background: #BDBDBD;
    margin: 0;
}
header{
    background: white;
    padding: 7px;

}
header h1{
    margin: 0;
}

.container h2{
    display: inline-flex;
}

.postt2{
 display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
 }



.post{
    
    background: white;
    width: 600px;
    margin-top: 10px;
    margin: auto;
    
}
.textbox{
   padding: 6px; 
}


.picholder{
    margin:0;
}
.post img{
    max-width: 600px;
} 
    

    

.container{
    width:600px;
    margin: auto;
}   
